@import '../../variables';

.nl-ui-button-dark, .nl-ui-button-light {
    background-color: transparent;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 12px;
}

.nl-ui-button-light {
    border: 1px solid var(--dark-text-clr);
    color: var(--dark-text-clr);
}

.nl-ui-button-dark {
    border: 1px solid var(--text-clr);
    color:  var(--text-clr);
}