@import '../../variables.scss';

.side-nav-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
    a, p, button {
        color: var(--text-clr);
    }
}

.side-bar-in-layout {
    width: 250px;
    height: 100vh;
    background-color: var(--background-clr);
}

.nl-ui-sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 10px;
    margin-top: 10px;
    h1 {
        font-size: 30px;
        font-family: $Roboto;
    }
    svg {
        width: 35px;
        height: 35px;
        stroke: var(--primary);
        fill: var(--primary);
    }
}

.Side-navigation {
    height: 100vh;
    border-right: var(--primary-border) 1px solid;
}

.page-content {
    width: calc(100% - 250px);
}

.page-content-padding {
    padding: 20px 40px;
}

.side-navigation-items  {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

.nl-ui__sbitem0 {
    font-size: 17px;
    padding: 0px 10px;
    width: 100%;
    a {
        text-decoration: none;
        display: flex;
        padding: 5px 0;
        align-items: center;
        
        .nl-ui__sbitem0-icon {
            display: block;
            background-color: rgba(var(--primary), 0.3);
            width: 26px;
            height: 26px;
            margin-right: 5px;
            border-radius: 5px;
            svg {
                width: 26px;
                height: 26px;
                stroke: #f0f0f0;
            }
        }
    }
    
}

.nl-ui__sbitem3 {
    font-size: 17px;
    padding: 5px 0px;
    width: 100%;
    a {
        text-decoration: none;
        width: 100%;
        padding: 5px 31px;
        border-radius: 5px;
        display: block;
    }
    .activeNavItem {
        background-color: var(--primary-border);
    }
}

.nl-ui__sbitem1 {
    width: 100%;
    padding: 0px 10px;
    button {
        background-color: transparent;
        border: transparent;
        width: 100%;
        padding: 5px 0;
        font-size: 17px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nl-ui__sbitem1-icon {
            background-color: var(--primary-border);
            width: 26px;
            height: 26px;
            margin-right: 5px;
            border-radius: 5px;
            svg {
                width: 26px;
                height: 26px;
                stroke: var(--primary-contrast);
            }
        }
        .nl-ui__sbitem1-chevron-down-icon {
            margin-left: auto;
            transition: transform .3s;
        }
    }

    .active .nl-ui__sbitem1-chevron-down-icon {
        transform: rotate(90deg) !important; 
    }
}

.side-navigation-item-dropdown {
    height: 0;
    overflow: hidden;
    transition: height .5s;
    ul {
        padding: 0px;
        * {
            font-size: 15px;
        }
    }
}

.nl-ui-fullwidth-divider {
    margin: 9.6px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: var(--primary-border);
}
/*
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
        margin-bottom: -1.25em;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        margin-bottom: 0em;
    }
}*/