
:root {
    --background-clr: #1D2126;
    --second-background-clr: #191D21;
    --text-clr: #f1f1f1;
    --default-shadow: rgba(17, 17, 19, 0.2) 0px 7px 10px 0px;
    --primary: rgb(92, 184, 92);
    --primary-border: rgba(92, 184, 92, .20);
    --primary-contrast: rgb(129, 190, 129);
}